* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  font-family: helvetica neue;
  font-weight: 400;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  height: 100vh;

}

.top-controls {
  position: relative;
}

.left-controls {
  position: relative;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
}

.hide {
  display: none;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
}


.graphics img {
  border-radius: 8px;
  box-shadow: 0 0 3px 0px #777777b8;
  height: 300px;
}

.graphics {
  padding: 15px 0px;
}

.actions {
  padding: 10px;
  background: #3a3a3a;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.actions button {
  background: none;
  border: none;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  width: 32px;
  height: 22px;
}

.playlist {
  margin-top: 15px;
  border-radius: 5px;
  height: 100vh;
  width: 100vw;
}

.playlist .header {
  padding: 5px;
}

.songContainer {
  cursor: pointer;
  user-select: none;
  color: white;
}


.pltext {
  padding: 5px;
}

.loi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

.loi li {
  padding: 4px 0;
  font-weight: 450;
}

.songlist {
  overflow-y: scroll;
  height: 50vh;
}

.song {  padding: 10px;
}

.selected {
  color: pink;
}

.controls {
  position: absolute;

  width: 100%;
  bottom: 35px;

  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 30px;
}

.ambience-controls {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100vw;
  color: white;
  align-items: left;
  justify-content: space-around;
/* 
  position: fixed;
  bottom: 0;
   */
}

.vlme {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 25px;
  transition: all 500ms;
  position: absolute;
  right: 30px;
  margin-top: 3px;
}

.vlme:hover {
  width: 90px;
}

.volum {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background: transparent;
}

#volBar::-moz-range-thumb {
  height: 10px;
  width: 3px;
  background: #2A6586;
  border-radius: 5px;
  cursor: pointer;
}


.NowPlaying {
  margin-left: 44px;
  box-sizing: border-box;
}

.top-controls {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.top-controls span {
  cursor: pointer;
}

.top-controls span:hover {
  color: #2A6586;
}

.play {
  top: 50%;
  transform: translateY(-55%);
  position: absolute;
  z-index: 3;
}

.play:active {
}

.play:hover {
}
/* 
.prev {
  background: #4aa9de;
  border-radius: 10px 0 0px 10px;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: -5px;
  z-index: 1;
}

.next {
  background: #4aa9de;
  border-radius: 0px 10px 10px 0px;
  padding-right: 15px;
  padding-left: 10px;
  margin-left: -5px;
  z-index: 1;
} */

.progress {
  /* display: flex;
  justify-content: flex-start;
  align-items: left; */
  width: calc(100% - 60px);
  position: absolute;
  bottom: 3px;}

#prgbar {
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
}

.plsoptions {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.plsoptions span {
  cursor: pointer;
}

.plsoptions span:hover {
  color: #2A6586;
}

.plsoptions span.active {
  color: rgb(32, 77, 104);
}

.time {
  position: absolute;
  font-size: 19px;
  right: 60px;
  top: 1px;
}